<!DOCTYPE html>
<html ng-app="graphApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Percolation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.4/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body data-ng-app="">
<div class="container" ng-controller="graphController">
    <h2>Percolation</h2>
    <div><h4> p (from 0.1 to 0.9):</h4>
        <input type="number" min="0" max="1" step="0.1" ng-model="delimiter">
        <button class="btn btn-default btn-xs" ng-click="arraySize=arrayHeight;generateMas();" ng-disabled="delimiter==0">Generate array</button>
    </div>

    <!--<div style="margin-top: 10px">
        <input type="number" min="2" max="60" ng-model="arrayHeight"><label style="margin-left: 5px"> insert matrice NxN size ( Max: 60 )</label>
    </div>-->

    <ul class="chart" style="width:{{width}}px; height:{{height-10}}px;">
        <div class="y" style="width:{{height}}px"></div>
        <div class="x"></div>
        <li ng-repeat="dot in masUl" class="dot"
            style="background:rgb({{dot.backgroundColor}},{{dot.backgroundColor}},{{dot.backgroundColor}});
             bottom:{{dot.yAxis*height/arraySize*0.9}}px; left:{{dot.xAxis*height/arraySize*0.9}}px"></li>
    </ul>
</div>
</body>
</html>